.contact_content {
    padding-top: 10vh;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row-reverse wrap;
    width: 70% ;
    margin: auto;
    #map {
        box-shadow: 0 0 5px black;
    }
    label {
        display: block;
        margin: 10px;
    }
    input, textarea {
        font-size: 15px;
        padding: 5px;
    }
    #submit-btn {
        display: block;
        margin: auto;
        background-color: rgb(61, 146, 61);
        border: none;
        color: white;
        &:hover {
            filter: saturate(150%);
        }
    }
    textarea {
        width: 100%;
    }

}