@mixin border {
    border: 1px solid red;
}
@mixin flex_between {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
$headerBg: rgba(0, 0, 0, 0.842);
$bodyBg: rgb(34, 34, 34);
$bodyFont: white;
$content: rgb(80, 79, 79);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: $bodyFont;
    font-family: sans-serif ;
    background: url('https://img.freepik.com/premium-photo/set-colored-spices-bowls-herbs-black-stone-background-view-from-top-view_187166-28543.jpg?w=2000');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    @include flex_between();
    padding: 1%;
    height: 8vh;
    width: 100%;
    color: white;
    position: fixed;
    font-family: sans-serif;
    #logo ,li {
       display: inline-block;
    }
    #logo {
        font-size: min(4vh, 25px);
        font-weight: 700;
        border: 5px solid rgb(255, 255, 255);
        padding: 5px;
    }
    li {
        width: min(15vw, 120px);
        text-align: center;
        &:hover {
            border: 1px solid black;
            background-color: rgba(255, 255, 255, 0.842);
            color: black;
            border-radius: 20px;
            padding: 5px;
            cursor: pointer;
        }
    }
}
.home_content {
    padding-top: 8vh;
    height: 100vh;
    @include flex_between();
    justify-content: center;
    flex-direction: column;
    h1 {
        padding: 4vh;
    }
    p {
        text-align: center;
        width: 50%;
        line-height: 1.5rem;
        padding: 1vh;
        font-size: min(5vw, 17px);
    }
    button {
        padding: 8px 20px;
        margin: 10px;
        font-size: 1.2em;
        border: none;
        background-color: transparent;
        color: aliceblue;
        font-weight: 500;
        border: 2px solid white;
        border-radius: 10px;
        &:hover {
            outline: 2px solid rgb(63, 61, 61);
            background-color: rgba(255, 255, 255, 0.925);
            color: black;
            cursor: pointer;
        }
    }

}
