@mixin border {
    border: 1px solid red;
}
@mixin flex_between {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
$headerBg: rgba(0, 0, 0, 0.842);
$bodyBg: rgb(34, 34, 34);
$bodyFont: white;
$content: rgb(80, 79, 79);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.about_us {
    background-color: black;
    color: $bodyFont;
    font-family: sans-serif ;
    background: url('https://img.freepik.com/premium-photo/set-colored-spices-bowls-herbs-black-stone-background-view-from-top-view_187166-28543.jpg?w=2000');
    background-size: cover;
    background-attachment: fixed;
    // background-position: center;
    background-repeat: no-repeat;
}

header {
    @include flex_between();
    padding: 1%;
    height: 8vh;
    width: 100%;
    position: fixed;
    #logo ,li {
       display: inline-block;
    }
    #logo {
        font-size: 4vh;
    }
    li {
        width: min(15vw, 120px);
        text-align: center;
        &:hover {
            border: 1px solid black;
            background-color: rgba(255, 255, 255, 0.842);
            color: black;
            border-radius: 20px;
            padding: 5px;
            cursor: pointer;
        }
    }
}
.about_us_content {
    @include border();
    padding-top: 8vh;
    height: 100vh;
    @include flex_between();
    justify-content: center;
    flex-direction: column;
    h1 {
        padding: 4vh;
    }
    p {
        text-align: center;
        // @include border();
        width: 50%;
        line-height: 1.5rem;
    }

}
